RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} "EmailCollector" [OR]
RewriteCond %{HTTP_USER_AGENT} "WebEMailExtrac" [OR]
RewriteCond %{HTTP_USER_AGENT} "TrackBack/1\.02" [OR]
RewriteCond %{HTTP_USER_AGENT} "sogou music spider" [OR]
RewriteCond %{HTTP_USER_AGENT} "(?:Mozilla/\d+\.\d+ )?Jorgee" [OR]
RewriteCond %{HTTP_USER_AGENT} "Atomic_Email_Hunter/4\.0" [OR]
RewriteCond %{HTTP_USER_AGENT} "atSpider/1\.0" [OR]
RewriteCond %{HTTP_USER_AGENT} "autoemailspider" [OR]
RewriteCond %{HTTP_USER_AGENT} "bwh3_user_agent" [OR]
RewriteCond %{HTTP_USER_AGENT} "China Local Browse 2\.6" [OR]
RewriteCond %{HTTP_USER_AGENT} "ContactBot/0\.2" [OR]
RewriteCond %{HTTP_USER_AGENT} "ContentSmartz" [OR]
RewriteCond %{HTTP_USER_AGENT} "DataCha0s/2\.0" [OR]
RewriteCond %{HTTP_USER_AGENT} "DBrowse 1\.4b" [OR]
RewriteCond %{HTTP_USER_AGENT} "DBrowse 1\.4d" [OR]
RewriteCond %{HTTP_USER_AGENT} "Demo Bot DOT 16b" [OR]
RewriteCond %{HTTP_USER_AGENT} "Demo Bot Z 16b" [OR]
RewriteCond %{HTTP_USER_AGENT} "DSurf15a 01" [OR]
RewriteCond %{HTTP_USER_AGENT} "DSurf15a 71" [OR]
RewriteCond %{HTTP_USER_AGENT} "DSurf15a 81" [OR]
RewriteCond %{HTTP_USER_AGENT} "DSurf15a VA" [OR]
RewriteCond %{HTTP_USER_AGENT} "EBrowse 1\.4b" [OR]
RewriteCond %{HTTP_USER_AGENT} "Educate Search VxB" [OR]
RewriteCond %{HTTP_USER_AGENT} "EmailSiphon" [OR]
RewriteCond %{HTTP_USER_AGENT} "EmailSpider" [OR]
RewriteCond %{HTTP_USER_AGENT} "EmailWolf 1\.00" [OR]
RewriteCond %{HTTP_USER_AGENT} "ESurf15a 15" [OR]
RewriteCond %{HTTP_USER_AGENT} "ExtractorPro" [OR]
RewriteCond %{HTTP_USER_AGENT} "Franklin Locator 1\.8" [OR]
RewriteCond %{HTTP_USER_AGENT} "FSurf15a 01" [OR]
RewriteCond %{HTTP_USER_AGENT} "Full Web Bot 0416B" [OR]
RewriteCond %{HTTP_USER_AGENT} "Full Web Bot 0516B" [OR]
RewriteCond %{HTTP_USER_AGENT} "Full Web Bot 2816B" [OR]
RewriteCond %{HTTP_USER_AGENT} "Guestbook Auto Submitter" [OR]
RewriteCond %{HTTP_USER_AGENT} "Industry Program 1\.0\.x" [OR]
RewriteCond %{HTTP_USER_AGENT} "ISC Systems iRc Search 2\.1" [OR]
RewriteCond %{HTTP_USER_AGENT} "IUPUI Research Bot v 1\.9a" [OR]
RewriteCond %{HTTP_USER_AGENT} "LARBIN-EXPERIMENTAL \(efp@gmx\.net\)" [OR]
RewriteCond %{HTTP_USER_AGENT} "LetsCrawl\.com/1\.0 \+http\://letscrawl\.com/" [OR]
RewriteCond %{HTTP_USER_AGENT} "Lincoln State Web Browser" [OR]
RewriteCond %{HTTP_USER_AGENT} "LMQueueBot/0\.2" [OR]
RewriteCond %{HTTP_USER_AGENT} "LWP\:\:Simple/5\.803" [OR]
RewriteCond %{HTTP_USER_AGENT} "Mac Finder 1\.0\.xx" [OR]
RewriteCond %{HTTP_USER_AGENT} "MFC Foundation Class Library 4\.0" [OR]
RewriteCond %{HTTP_USER_AGENT} "Microsoft URL Control - 6\.00\.8xxx" [OR]
RewriteCond %{HTTP_USER_AGENT} "Missauga Locate 1\.0\.0" [OR]
RewriteCond %{HTTP_USER_AGENT} "Missigua Locator 1\.9" [OR]
RewriteCond %{HTTP_USER_AGENT} "Missouri College Browse" [OR]
RewriteCond %{HTTP_USER_AGENT} "Mizzu Labs 2\.2" [OR]
RewriteCond %{HTTP_USER_AGENT} "Mo College 1\.9" [OR]
RewriteCond %{HTTP_USER_AGENT} "MVAClient" [OR]
RewriteCond %{HTTP_USER_AGENT} "Mozilla/2\.0 \(compatible; NEWT ActiveX; Win32\)" [OR]
RewriteCond %{HTTP_USER_AGENT} "Mozilla/3\.0 \(compatible; Indy Library\)" [OR]
RewriteCond %{HTTP_USER_AGENT} "Mozilla/3\.0 \(compatible; scan4mail \(advanced version\) http\://www\.peterspages\.net/?scan4mail\)" [OR]
RewriteCond %{HTTP_USER_AGENT} "Mozilla/4\.0 \(compatible; Advanced Email Extractor v2\.xx\)" [OR]
RewriteCond %{HTTP_USER_AGENT} "Mozilla/4\.0 \(compatible; Iplexx Spider/1\.0 http\://www\.iplexx\.at\)" [OR]
RewriteCond %{HTTP_USER_AGENT} "Mozilla/4\.0 \(compatible; MSIE 5\.0; Windows NT; DigExt; DTS Agent" [OR]
RewriteCond %{HTTP_USER_AGENT} "Mozilla/4\.0 efp@gmx\.net" [OR]
RewriteCond %{HTTP_USER_AGENT} "Mozilla/5\.0 \(Version\: xxxx Type\:xx\)" [OR]
RewriteCond %{HTTP_USER_AGENT} "NameOfAgent \(CMS Spider\)" [OR]
RewriteCond %{HTTP_USER_AGENT} "NASA Search 1\.0" [OR]
RewriteCond %{HTTP_USER_AGENT} "Nsauditor/1\.x" [OR]
RewriteCond %{HTTP_USER_AGENT} "PBrowse 1\.4b" [OR]
RewriteCond %{HTTP_USER_AGENT} "PEval 1\.4b" [OR]
RewriteCond %{HTTP_USER_AGENT} "Poirot" [OR]
RewriteCond %{HTTP_USER_AGENT} "Port Huron Labs" [OR]
RewriteCond%{HTTP_USER_AGENT} "Production Bot 0116B" [OR]
RewriteCond %{HTTP_USER_AGENT} "Production Bot 2016B" [OR]
RewriteCond %{HTTP_USER_AGENT} "Production Bot DOT 3016B" [OR]
RewriteCond %{HTTP_USER_AGENT} "Program Shareware 1\.0\.2" [OR]
RewriteCond %{HTTP_USER_AGENT} "PSurf15a 11" [OR]
RewriteCond %{HTTP_USER_AGENT} "PSurf15a 51" [OR]
RewriteCond %{HTTP_USER_AGENT} "PSurf15a VA" [OR]
RewriteCond %{HTTP_USER_AGENT} "psycheclone" [OR]
RewriteCond %{HTTP_USER_AGENT} "RSurf15a 41" [OR]
RewriteCond %{HTTP_USER_AGENT} "RSurf15a 51" [OR]
RewriteCond %{HTTP_USER_AGENT} "RSurf15a 81" [OR]
RewriteCond %{HTTP_USER_AGENT} "searchbot admin@google\.com" [OR]
RewriteCond %{HTTP_USER_AGENT} "ShablastBot 1\.0" [OR]
RewriteCond %{HTTP_USER_AGENT} "snap\.com beta crawler v0" [OR]
RewriteCond %{HTTP_USER_AGENT} "Snapbot/1\.0" [OR]
RewriteCond %{HTTP_USER_AGENT} "Snapbot/1\.0 \(Snap Shots&#44; \+http\://www\.snap\.com\)" [OR]
RewriteCond %{HTTP_USER_AGENT} "sogou develop spider" [OR]
RewriteCond %{HTTP_USER_AGENT} "Sogou Orion spider/3\.0\(\+http\://www\.sogou\.com/docs/help/webmasters\.htm#07\)" [OR]
RewriteCond %{HTTP_USER_AGENT} "sogou spider" [OR]
RewriteCond %{HTTP_USER_AGENT} "Sogou web spider/3\.0\(\+http\://www\.sogou\.com/docs/help/webmasters\.htm#07\)" [OR]
RewriteCond %{HTTP_USER_AGENT} "sohu agent" [OR]
RewriteCond %{HTTP_USER_AGENT} "SSurf15a 11 " [OR]
RewriteCond %{HTTP_USER_AGENT} "TSurf15a 11" [OR]
RewriteCond %{HTTP_USER_AGENT} "Under the Rainbow 2\.2" [OR]
RewriteCond %{HTTP_USER_AGENT} "User-Agent\: Mozilla/4\.0 \(compatible; MSIE 6\.0; Windows NT 5\.1\)" [OR]
RewriteCond %{HTTP_USER_AGENT} "VadixBot" [OR]
RewriteCond %{HTTP_USER_AGENT} "WebVulnCrawl\.unknown/1\.0 libwww-perl/5\.803" [OR]
RewriteCond %{HTTP_USER_AGENT} "Wells Search II" [OR]
RewriteCond %{HTTP_USER_AGENT} "WEP Search 00" [OR]
RewriteCond %{HTTP_USER_AGENT} "rogerbot" [OR]
RewriteCond %{HTTP_USER_AGENT} "MJ12bot" [OR]
RewriteCond %{HTTP_USER_AGENT} "dotbot" [OR]
RewriteCond %{HTTP_USER_AGENT} "gigabot" [OR]
RewriteCond %{HTTP_USER_AGENT} "AhrefsBot" [OR]
RewriteCond %{HTTP_USER_AGENT} "PetalBot" [OR]
RewriteCond %{HTTP_USER_AGENT} "YaK/1\.0" [OR]
RewriteCond %{HTTP_USER_AGENT} "linkfluence\.com" [OR]
RewriteCond %{HTTP_USER_AGENT} "AspiegelBot" [OR]
RewriteCond %{HTTP_USER_AGENT} "serpstatbot"
RewriteRule .* - [F] 
